@include tablet{
    .contenedor-anuncios{
        @include grid(3, 2rem);
    
    }
}

.anuncio{
    background-color: lighten($gris, 5) ;
    border: 1px solid darken($gris,10);
    .contenedor-anuncios{
        padding: 2rem;
        
    }
    h3,p{
        margin-left: 10%;

        margin-right: 10%;
    }
    .precio{
        color: $verde;
        font-size: 3rem;
        font-weight: bold;
    }
}
.iconos-caracteristicas{
    display: flex;
    list-style: none;
    padding: 0rem;
    margin-top: 2rem;

    li{
        flex: 1;
        display: flex;
    }
    img{
        width: 4rem;
        flex: 0 0 4rem;
        margin-left: 1rem;
    
        margin-right: 1rem;
    }

}