.footer{
    padding: $separacion /2 , 0;
    background-color: $grisOscuro;
    
    .contenido-footer{
        padding-top: $separacion / 2;
       @include tablet{
            .navegacion{
            list-style: none;
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;

            li{
                margin-right: 2rem;

                a{
                    color: $blanco;
                    text-decoration: none;
                    font-size: 1.6rem;
                    text-transform: uppercase;

                    &:hover{
                        color: $amarillo;
                    }
                }
            }
        }
       }
    }
    .copyright{
        text-align: center;
        color: $blanco;
        font-size: 1.6rem;
        margin-top: 2rem;
    }
}